.rating {
	 background: #fff;
}
 input[type="radio"] {
	 position: fixed;
	 top: 0;
	 right: 100%;
}
 .s-label {
	 font-size: 1.5em;
	 padding: 0.3em;
	 margin: 0;
	 float: left;
	 cursor: pointer;
}
 input[type="radio"]:checked ~ input + .s-label {
	 background: none;
	 color: #aaa;
}
 input + .s-label {
	 background: #fff;
	 color: orange;
}
 input + .s-label:first-of-type {
	 border-top-left-radius: 8px;
	 border-bottom-left-radius: 8px;
}
 input:checked + .s-label {
	 border-top-right-radius: 8px;
	 border-bottom-right-radius: 8px;
}
 hr {
	 clear: both;
	 border: 0;
	 border-top: 2px solid #999;
	 margin: 2em 0;
}
 .chek-box {
	 font-size: 10.6pt;
	 font-weight: 500;
}
 .m-chk {
	 margin: 5px 15px 0px;
}
 