<template>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">داشبورد</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><i class="blue">ویژگی</i></li>
                            <li class="breadcrumb-item active">داشبورد</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title pull-right">جدول ویژگی ها</h3>
                    <div class="text-left">
                        <a class="btn btn-app" :href="'/admin/attributes/create'">
                            <i class="fa fa-plus green"></i> جدید
                        </a>
                    </div>
                </div>
                <the-loader v-if="loading ===true"></the-loader>
                <div class="row mt-2 mb-2">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="input-group text-center">
                            <input type="text" class="form-control" @input="search" v-model="searchValue" placeholder="نام ویژگی را وارد کنید...">
                        </div>
                    </div>
                </div>

                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover ">
                        <thead>
                        <tr>
                            <th scope="col" >شناسه</th>
                            <th scope="col" >عنوان</th>
                            <th scope="col" >نوع</th>
                            <th scope="col" >وضعیت</th>
                            <th scope="col" >عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr role="row" class="odd" v-for="attribute in attributes">
                            <td>{{attribute.sku}}</td>
                            <td>{{attribute.title}}</td>
                            <td v-if="attribute.multiple">تکی</td>
                            <td v-else>چندتایی</td>
                            <td v-if="attribute.status" class="float badge bg-success">فعال</td>
                            <td v-else class="float badge bg-danger">غیر غعال</td>
                            <td>
                                <div class="row">
                                    <a class="btn-delete blue mt-auto ml-1 mr-1"
                                       :href="'/admin/attributes/' + attribute.slug + '/edit'">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="ویرایش"></i>
                                    </a>
                                    |
                                    <button @click="deleteRecord(attribute.slug)"  class="btn-delete">
                                        <i class="fa fa-trash red" data-toggle="tooltip" title="حذف"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <div v-if="search_product == false">
                    <pagination :limit="5" :size="'small'" :align="'center'" :data="laravelData"
                                @pagination-change-page="allAttGroup">
                        <span slot="prev-nav"> قبلی </span>
                        <span slot="next-nav"> بعدی </span>
                    </pagination>
                </div>
                <div v-if="search_product">
                    <pagination :limit="5" :size="'small'" :align="'center'" :data="laravelData"
                                @pagination-change-page="search">
                        <span slot="prev-nav"> قبلی </span>
                        <span slot="next-nav"> بعدی </span>
                    </pagination>
                </div>

            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>

</template>

<script>
export default {
    data(){
        return{
             url:'https://mobayadak.com/',
           // url:'http://kharidchi.test',
            laravelData: {},
            page: 1,
            loading:false,
            shadow:1,
            attributes:[],
            searchValue:'',
            search_product:false

        }
    },

    mounted() {
        this.allAttGroup(this.page);
    },
    methods :{
        async allAttGroup(page){
            this.loading = true;
            this.search_product = false
            await this.activate();
            await axios.get('/admin/all-att-group' + '?page=' + page).then(res => {
                this.attributes = res.data.attributes.data;
                this.laravelData = res.data.attributes;
            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
        },
        searchProduct(){

        },
        activate() {
            return new Promise((resolve) => {
                setTimeout(resolve, 500);
            });
        },
        deleteRecord(id){
            Swal.fire({
                title: 'هشدار!',
                text: "آیا از حذف سطر جاری مطمئن هستید؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله, حذف کن!',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    this.search_product = true
                    axios.delete('/admin/attributes/'+id).then(res=>{
                        Swal.fire(
                            'حذف!',
                            ' با موفقیت حذف شد.',
                            'success'
                        )
                        window.location.replace('/admin/attributes/');
                    })

                }
                else{
                    Swal.fire(
                        'حذف!',
                        'حذف  لغو شد.',
                        'error'
                    )
                }
            });
        },
        search(page){
            if (this.searchValue){
                this.search_product = true
                axios.post(' /admin/search/attribute-group/'+ this.searchValue + '?page=' + page).then(res=>{
                    this.attributes = res.data.attributes.data;
                    this.laravelData = res.data.attributes;
                    if (this.searchValue == null)
                    {
                        this.search_product = false
                        this.allAttGroup(this.page)
                    }

                });
            }
            else
            {
                this.allAttGroup(this.page =1);
            }


        }
    }

}
</script>

