<template>
    <div>
        <div class="form-group">
            <label>دسته بندی</label>
            <div class="div-border">
                <v-select size="auto" id="v-sel" dir="rtl" name="categories[]" placeholder="انتخاب کنید..."
                          v-model="selected_categories"
                          :multiple="true" :options="categories" :value="selected_categories"
                          @input="onChange($event,null,true)"
                          :reduce="categories => categories.id" label="title"
                ></v-select>
            </div>
        </div>

        <input type="hidden" name="categories[]" :value="selected_categories">
        <div v-if="flag">
            <ul class="list-unstyled">
                <li>
                    <div class="row">
                        <div class="col-6" v-if="attribute.multiple" v-for="(attribute , index) in attributes">
                            <label>ویژگی <span class="red">{{ attribute.title }}</span></label>
                            <div class="row" v-if="!product" v-for="attributeValue in attribute.att_values">
                                <div class="col-7"> <input type="checkbox" name="attributes[]" :value="attributeValue.id"  v-model="computedAttribute"> <span class=" ml-2 ">{{ attributeValue.title }}</span></div>
                                <div class="col-3" v-if="attributeValue.color != null && attribute.number != 0 "> <span class=" ml-3 " >تعداد : </span></div>
                                <div class="col-2" v-if="attributeValue.color != null && attribute.number != 0 "><input class="form-control "    style="height: 20px" type="text" :name="'color_count_'+ attributeValue.id"></div>

                                <div class="col-3" v-if="attributeValue.color == null && attribute.number != 0 "> <span class=" ml-3 " >تعداد : </span></div>
                                <div class="col-2" v-if="attributeValue.color == null && attribute.number != 0 "><input class="form-control "    style="height: 20px" type="text" :name="'size_count_'+ attributeValue.id"></div>

                            </div>
                            <div class="row" v-if="product"  v-for="attributeValue in attribute.att_values">
                                <div class="col-7"> <input type="checkbox" name="attributes[]" :value="attributeValue.id"  v-model="computedAttribute"> <span class=" ml-2 ">{{ attributeValue.title }}</span></div>
                                <div class="col-3" v-if="attributeValue.color != null && attribute.number != 0 "> <span class=" ml-3 " >تعداد : </span></div>
                                <div class="col-2" v-if="attributeValue.color != null && attribute.number != 0 "><input class="form-control "  :id="'color_count_'+ attributeValue.id"  style="height: 20px" type="text" :name="'color_count_'+ attributeValue.id"></div>

                                <div class="col-3" v-if="attributeValue.color == null && attribute.number != 0 "> <span class=" ml-3 " >تعداد : </span></div>
                                <div class="col-2" v-if="attributeValue.color == null && attribute.number != 0 "><input class="form-control "  :id="'size_count_'+ attributeValue.id"   style="height: 20px" type="text" :name="'size_count_'+ attributeValue.id"></div>

                            </div>
                        </div>
                        <div class="col-6" v-if="!attribute.multiple" v-for="(attribute , index) in attributes">
                            <label>ویژگی <span class="red">{{ attribute.title }}</span></label>
                            <div class="row"   v-for="attributeValue in attribute.att_values">
                                <div class="col-4"><input type="checkbox" name="attributes[]" :value="attributeValue.id" v-model="computedAttribute"><span class=" ml-2 ">{{ attributeValue.title }}</span></div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-group">
            <label>برند</label>
            <select name="brand" class="form-control">
                <option value="">انتخاب کنید...</option>
                <option v-if="!product" v-for="brand in brands" :value="brand.id">{{ brand.title }}</option>
                <option v-if="product" v-for="brand in brands" :value="brand.id"
                        :selected="product.brand &&product.brand.id===brand.id">{{ brand.title }}
                </option>
            </select>
        </div>
    </div>
</template>

<script>
import 'vue-select/dist/vue-select.css';

export default {
    data() {
        return {
            categories: [],
            selected_categories: [],
            flag: false,
            attributes: [],
            selected_attribute: [],
            computedAttribute: [],
            value: [],
        }
    },
    props: ['brands', 'product'],
    updated() {
        var i = 0
        if (this.attributes.length !== 0)
            this.ref(this.attributes)
    },
    mounted() {
        axios.get('/api/categories').then(res => {
            this.getAllCategories(res.data.categories, 0);
        }).catch(err => {
            console.log(err);
        })
        if (this.product) {
            for (let i = 0; i < this.product.categories.length; i++) {
                this.selected_categories.push(this.product.categories[i].id)
            }
            for (let i = 0; i < this.product.att_values.length; i++) {
                this.selected_attribute.push(this.product.att_values[i].id)
                this.computedAttribute.push(this.product.att_values[i].id);
            }
            const load = 'ok';
            this.onChange(null, load);
        }
    },
    methods: {
        getAllCategories: function (currentValue, level) {
            for (let i = 0; i < currentValue.length; i++) {
                let current = currentValue[i];
                this.categories.push({
                    id: current.id,
                    title: Array(level + 1).join(" --- ") + " " + current.title
                });
                if (current.children_recursive && current.children_recursive.length > 0) {
                    this.getAllCategories(current.children_recursive, level + 1)
                }
            }
        },
        onChange: function (event, load, loadFlag) {
            this.flag = false;
            axios.post('/api/categories/attributes', this.selected_categories).then(res => {
                if (this.product && load == null) {
                    this.computedAttribute = []
                    this.selected_attribute = []
                }
                //  this.computedAttribute.length = this.attributes.length;
                if (!this.product) {
                    this.createFlag = true

                }
                if (loadFlag === true) {
                    this.loadFlag = true;
                }

                this.attributes = res.data.attributes
                this.flag = true;
                this.loadFlag = false;
            }).catch(err => {
                this.flag = false;
            })


        },
        ref: function (attributes) {
            const value = this.product.values
            attributes.forEach(items => {
                items.att_values.forEach(item => {
                    for (let j = 0; j < value.length; j++) {
                        if ( item.id == value[j].attributeValue_id ) {
                            var colorId = 'color_count_' + item.id;
                            console.log(colorId,value[j].colorCount)
                            document.getElementById(colorId).value = value[j].colorCount;
                        }
                        else if(item.id != null && value[j].attributeValue_id != null && item.id == value[j].attributeValue_id ){
                            var sizeId = 'size_count_' + item.id;
                            console.log(sizeId,value[j].sizeCount)
                            document.getElementById(sizeId).value = value[j].sizeCount;
                        }
                    }
                });
            });

        }
    }
}
</script>

