<template>
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">داشبورد</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-left">
                            <li class="breadcrumb-item"><i class="blue">مقادیر ویژگی</i></li>
                            <li class="breadcrumb-item active">داشبورد</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title pull-right">جدول مقادیر ویژگی ها</h3>
                    <div class="text-left">
                        <a class="btn btn-app" :href="'/admin/attributes-value/create'">
                            <i class="fa fa-plus green"></i> جدید
                        </a>
                    </div>
                </div>
                <the-loader v-if="loading ===true"></the-loader>
                <div class="row mt-2 mb-2">
                    <div class="col-lg-4 col-lg-offset-4">
                        <div class="input-group text-center">
                            <input type="text" class="form-control" @input="search" v-model="searchValue" placeholder="نام مقدار ویژگی و یا ویژگی را وارد کنید...">
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover ">
                        <thead>
                        <tr  class="text-center">
                            <th  >#</th>
                            <th  >مقادیر ویژگی</th>
                            <th  >نوع ویژگی</th>
                            <th  >عملیات</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr  class="odd text-center" v-for="attribute in attributesValue">
                            <td>{{attribute.sku}}</td>
                            <td>{{attribute.title}}</td>
                            <td>{{attribute.att_group.title}}</td>
                            <td>
                                <div >
                                    <a class="btn-delete blue mt-auto ml-1 mr-1"
                                       :href="'/admin/attributes-value/'+ attribute.slug + '/edit'">
                                        <i class="fa fa-edit" data-toggle="tooltip" title="ویرایش"></i>
                                    </a>
                                    |
                                    <button   @click="deleteRecord(attribute.slug)" class="btn-delete ">
                                        <i class="fa fa-trash red" data-toggle="tooltip" title="حذف"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </div>
               <div v-if="search_product == false">
                   <pagination :size="'small'" :limit="5" :align="'center'" :data="laravelData"
                               @pagination-change-page="allAttValue">
                       <span slot="prev-nav"> قبلی </span>
                       <span slot="next-nav"> بعدی </span>
                   </pagination>
               </div>
               <div v-if="search_product">
                   <pagination :size="'small'" :limit="5" :align="'center'" :data="laravelData"
                               @pagination-change-page="search">
                       <span slot="prev-nav"> قبلی </span>
                       <span slot="next-nav"> بعدی </span>
                   </pagination>
               </div>
            </div>
            <!-- /.card-body -->
        </section>
        <!-- /.content -->
    </div>

</template>

<script>
export default {
    data(){
        return{
             url:'https://mobayadak.com/',
           // url:'http://kharidchi.test',
            laravelData: {},
            page: 1,
            loading:false,
            shadow:1,
            attributesValue:[],
            searchValue:'',
            search_product:false
        }
    },

    mounted() {
        this.allAttValue(this.page);
    },
    methods :{
        async allAttValue(page){
            this.search_product = false
            this.loading = true;
            await this.activate();
            await axios.get('/admin/all-att-value' + '?page=' + page).then(res => {
                this.attributesValue = res.data.attributesValue.data;
                this.laravelData = res.data.attributesValue;
            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
        },
        searchProduct(){

        },
        activate() {
            return new Promise((resolve) => {
                setTimeout(resolve, 500);
            });
        },
        deleteRecord(id){
            Swal.fire({
                title: 'هشدار!',
                text: "آیا از حذف سطر جاری مطمئن هستید؟",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'بله, حذف کن!',
                cancelButtonText: 'خیر'
            }).then((result) => {
                if (result.value) {
                    axios.delete('/admin/attributes-value/'+id).then(res=>{
                        Swal.fire(
                            'حذف!',
                            ' با موفقیت حذف شد.',
                            'success'
                        )
                        window.location.replace('/admin/attributes-value/');
                    })

                }
                else{
                    Swal.fire(
                        'حذف!',
                        'حذف  لغو شد.',
                        'error'
                    )
                }
            });
        },
        search(page = 1){
            if (this.searchValue){
                this.search_product = true
                axios.post(' /admin/search/attribute-value/'+ this.searchValue + '?page=' + page).then(res=>{
                    this.attributesValue = res.data.attributesValue.data;
                    this.laravelData = res.data.attributesValue;
                    if (this.searchValue == null){
                        this.search_product = false
                        this.allAttValue(this.page)
                    }
                });
            }
            else
            {
                this.allAttValue(this.page =1);
            }


        }
    }

}
</script>

