<template>
    <div >
        <div class="card-body offset-md-2 col-md-6">
            <div class="form-group" >
                <label>نوع ویژگی</label>
                <select name="att_group_id" class="form-control" @change="onChange($event )">
                    <option  v-if="!attvalue" v-for="attGroup in attributes" :value="attGroup.id" >{{attGroup.title}}</option>
                    <option  v-if="attvalue " v-for="attGroup in attributes" :selected="attGroup.id === attvalue.attributeGroup_id" :value="attGroup.id">{{attGroup.title}}</option>
                </select>
            </div>
            <div v-if="flagColor">
                <div class="form__label">
                    <label>رنگ را انتخاب کنید</label>
                </div>
                <div class="form__input">
                    <v-swatches
                        v-model="color"

                        show-fallback
                        fallback-input-type="color"

                        popover-x="left"
                    ></v-swatches>
                </div>
            </div>

            <div class="form-group" v-if="flagSize">
                <input type="hidden" name="size" value="on">
<!--                <label>سایز</label>-->
<!--                <br>-->
<!--                <input v-if="!attvalue"  name="size" onclick="return false;" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">-->
<!--                <input v-if="attvalue"  checked onclick="return false;" readonly name="size" type="checkbox" data-toggle="toggle" data-onstyle="success" data-offstyle="danger">-->
            </div>
            <input type="hidden" :value="color" name="color">
            <div class="form-group">
                <label>مقدار ویژگی</label>
                <input v-if="!attvalue" name="title"  type="text" class="form-control" placeholder="مقدار ویژگی را وارد کنید ...">
                <input v-if="attvalue" :value="attvalue.title" name="title" type="text" class="form-control" placeholder="مقدار ویژگی را وارد کنید ...">
            </div>

            <button type="submit" class="btn btn-success pull-left ">ذخیره</button>
        </div>
    </div>
</template>

<script>
import VSwatches from 'vue-swatches'


import 'vue-swatches/dist/vue-swatches.css'

    export default {
        data(){
            return{
                color: '',
                size: '',
                flagColor:false,
                flagSize:false,
                valueTitle : ''
            }
        },
        components: { VSwatches },
        props:['attributes','attvalue'],
        mounted() {
            if (typeof(this.attvalue) == 'undefined'){
                if (this.attributes[0].color == 1  ){
                    this.flagColor = true
                    this.color = 'rgb(192, 56, 43)'
                }else if(this.attributes[0].size ){
                    this.flagSize = true
                }
            }
            else if (typeof(this.attvalue) !== 'undefined'){
                if(this.attvalue.color!== null){
                    this.flagColor = true
                    this.flagSize = false
                    this.color =this.attvalue.color
                }
                else if(this.attvalue.size ){
                    this.flagColor = false
                    this.flagSize = true
                    this.color =''
                }
                else{
                    this.flagColor = false
                    this.flagSize = false
                }
            }
            else
            {
                this.color = this.attvalue.color
                this.size = this.attvalue.size
                this.valueTitle = this.attvalue.title
            }

        },
        methods :{
            onChange(event){
                var id = event.target.value;
                this.valueTitle = '';

                this.color = ''
                this.size = false

                axios.get('/admin/attribute-group-name/' + id)
                    .then(res => {
                        var color =res.data.attributeName.color;
                        var size =res.data.attributeName.size;

                        if( color == 1){
                            this.flagColor = true;
                            this.flagSize = false;
                            this.size = false;
                        }
                        else if( size == 1){
                            this.flagSize = true;
                            this.flagColor =false;
                            this.size = true;
                        }
                        else{
                            this.flagSize = false;
                            this.flagColor =false;
                            this.size = false;
                        }

                    })
                .catch(err => {
                    console.log(err)
                })

            }
        }
    }
</script>
