<template>
</template>

<script>
export default {
    data() {
        return {
            products: [],
            laravelData: {},
            sort: '',
            page: 1,
        }
    },
    mounted() {
        if (this.sort!=='ASC' || this.sort!=='DESC'){
            this.sort='all';
            this.getResults(this.page, this.sort)
        }
    },
    methods:{
        getResults (page,sort){
            if (sort)
                this.sort=sort;
            this.products = [];
            if (this.sort==='ASC' ){
                this.getPriceAceResults(page,this.sort)
            }else if(this.sort==='DESC'){
                this.getPriceDescResults(page,this.sort)
            }
            else if(this.sort==='visit'){
                this.getVisitedResults(page,this.sort)
            }
            else if(this.sort==='sell'){
                this.getSellResults(page,this.sort)
            }
            else{
                this.products = [];
                this.sort=sort;
                axios.get('/api/get/sell-products/' + '?page=' + page).then(res => {
                    this.products = res.data.products;
                    this.laravelData = res.data.products;
                }).catch(err => {
                    console.log(err);
                });
            }
        },
        getPriceDescResults (page,sort){
            this.sort=sort;
            axios.get('/api/sort-sells-desc-price-products/'  + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
            }).catch(err => {
                console.log(err);
            });
        },
        getVisitedResults (page,sort){
            this.sort=sort;
            axios.get('/api/sort-sells-visited-products/'  + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
            }).catch(err => {
                console.log(err);
            });
        },
        getPriceAceResults (page,sort){
            this.sort=sort;
            axios.get('/api/sort-sells-ace-price-products/'  + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
            }).catch(err => {
                console.log(err);
            });
        },
        getSellResults (page,sort){
            this.sort=sort;
            axios.get('/api/sort-sells-new-products/'  + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
            }).catch(err => {
                console.log(err);
            });
        },
    }
}
</script>
