<template>
    <div class="row" :style="{opacity: shadow}">
        <the-loader v-if="loading ===true"></the-loader>
        <!-- Start Sidebar -->
        <div class="col-lg-3 col-md-12 col-sm-12 sticky-sidebar">
            <div class="dt-sn mb-3">
                <div class="col-12">
                    <div class="section-title text-sm-title title-wide mb-1 no-after-title-wide">
                        <h2>فیلتر محصولات</h2>
                    </div>
                </div>
                <div class="col-12 mb-3">
                    <div class="parent-switcher">
                        <label class="ui-statusswitcher">
                            <input type="checkbox" id="switcher-1" :checked="available" @change="onchange(available)">
                            <span class="ui-statusswitcher-slider">
                                                <span class="ui-statusswitcher-slider-toggle"></span>
                                            </span>
                        </label>
                        <label class="label-switcher" for="switcher-1">فقط کالاهای موجود</label>
                    </div>
                </div>

            </div>
        </div>

        <!-- End Sidebar -->
        <!-- Start Content -->
        <div class="col-lg-9 col-md-12 col-sm-12 search-card-res" v-if="length ===0">
            <div class="dt-sl dt-sn px-0 search-amazing-tab">
                <div class="ah-tab-content-wrapper dt-sl px-res-0">
                    <div class=" mb-3 mx-0 px-res-0">
                        <div class="col-lg-9 col-md-12 col-sm-12 p-3">
                            <div class="alert alert-warning ">
                                <span >جستجو برای عبارت «{{data}}» با هیچ کالایی هم‌خوانی نداشت.</span>
                            </div>
                            <p>تلاش کنید:</p>
                            <p>- از عبارت‌های متداول‌تر استفاده کنید.</p>
                            <p>- املای عبارت وارد شده را بررسی کنید.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12 col-sm-12 search-card-res" >
            <div class="dt-sl dt-sn px-0 search-amazing-tab">
                <div class="ah-tab-wrapper dt-sl">
                    <div class="ah-tab dt-sl">
                        <a class="ah-tab-item" data-ah-tab-active="true" href="" @click="getResults(page,'all')">مرتبط
                            ترین</a>
                        <a class="ah-tab-item" href="" @click="getResults(page,'visit')">پربازدید ترین</a>
                        <a class="ah-tab-item" href="" @click="getResults(page,'sell')">پرفروش ترین</a>
                        <a class="ah-tab-item" href="" @click="getResults(page,'ASC')">ارزان ترین</a>
                        <a class="ah-tab-item" href="" @click="getResults(page,'DESC')">گران ترین</a>
                    </div>
                </div>
                <div class="ah-tab-content-wrapper dt-sl px-res-0" v-if="length !==0">
                    <div class="ah-tab-content dt-sl" data-ah-tab-active="true">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0"
                                 v-for="product in products.data">
                                <div class="product-card mb-2 mx-res-0">
                                    <!--                                <div class="promotion-badge">-->
                                    <!--                                    فروش ویژه-->
                                    <!--                                </div>-->
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                        </div>
                                        <div class="discount" v-if="product.discount!=0">
                                            <span>{{ product.discount }}%</span>
                                        </div>

                                    </div>
                                    <a v-if=" product.qty !== 0" class="product-thumb" target="_blank"
                                       :href="url + 'product/'+ product.sku+'/'+product.slug">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>
                                    <a v-else class="product-thumb">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>

                                    <div class="product-card-body mt-3">
                                        <h5 style="height: 30px">
                                            <a class="product-meta" v-if=" product.qty !== 0" target="_blank"
                                               :href="url + 'product/'+ product.sku+'/'+product.slug">{{
                                                    product.title
                                                }}</a>
                                            <a class="product-meta" v-else>{{ product.title }}</a>
                                        </h5>
                                        <span class="product-price red"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                    <del>   {{
                                                            new Intl.NumberFormat().format(product.price)
                                                        }}    تومان</del>
                                                        </span>
                                        <span class="product-price green"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                            {{
                                                new Intl.NumberFormat().format(Math.abs(product.price - (product.price * product.discount) / 100))
                                            }} تومان
                                                        </span>

                                        <span class="product-price red"
                                              v-if="product.discount==0 && product.qty !== 0">
                                                       {{ new Intl.NumberFormat().format(product.price) }}    تومان
                                                        </span>
                                        <span class="product-price red" style="visibility: hidden"
                                              v-if="product.discount==0 && product.qty !== 0">بدون تخفیف</span>

                                    </div>
                                    <div v-if="product.qty === 0">
                                        <h5 class="text-center">ناموجود</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination :size="'small'" :align="'center'" :data="laravelData"
                                    @pagination-change-page="getResults">
                            <span slot="prev-nav"> قبلی </span>
                            <span slot="next-nav"> بعدی </span>
                        </pagination>
                    </div>
                    <div class="ah-tab-content dt-sl">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0"
                                 v-for="product in products.data">
                                <div class="product-card mb-2 mx-res-0">
                                    <!--                                <div class="promotion-badge">-->
                                    <!--                                    فروش ویژه-->
                                    <!--                                </div>-->
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                        </div>
                                        <div class="discount" v-if="product.discount!=0">
                                            <span>{{ product.discount }}%</span>
                                        </div>

                                    </div>
                                    <a v-if=" product.qty !== 0" class="product-thumb" target="_blank"
                                       :href="url + 'product/'+ product.sku+'/'+product.slug">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>
                                    <a v-else class="product-thumb">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>

                                    <div class="product-card-body mt-3">
                                        <h5 style="height: 30px" >
                                            <a class="product-meta" v-if=" product.qty !== 0" target="_blank"
                                               :href="url + 'product/'+ product.sku+'/'+product.slug">{{
                                                    product.title
                                                }}</a>
                                            <a class="product-meta" v-else>{{ product.title }}</a>
                                        </h5>
                                        <span class="product-price red"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                    <del>   {{
                                                            new Intl.NumberFormat().format(product.price)
                                                        }}    تومان</del>
                                                        </span>
                                        <span class="product-price green"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                            {{
                                                new Intl.NumberFormat().format(Math.abs(product.price - (product.price * product.discount) / 100))
                                            }} تومان
                                                        </span>

                                        <span class="product-price red"
                                              v-if="product.discount==0 && product.qty !== 0">
                                                       {{ new Intl.NumberFormat().format(product.price) }}    تومان
                                                        </span>
                                        <span class="product-price red" style="visibility: hidden"
                                              v-if="product.discount==0 && product.qty !== 0">بدون تخفیف</span>

                                    </div>
                                    <div v-if="product.qty === 0">
                                        <h5 class="text-center">ناموجود</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination :size="'small'" :align="'center'" :data="laravelData"
                                    @pagination-change-page="getResults">
                            <span slot="prev-nav"> قبلی </span>
                            <span slot="next-nav"> بعدی </span>
                        </pagination>
                    </div>

                    <div class="ah-tab-content dt-sl">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0"
                                 v-for="product in products.data">
                                <div class="product-card mb-2 mx-res-0">
                                    <!--                                <div class="promotion-badge">-->
                                    <!--                                    فروش ویژه-->
                                    <!--                                </div>-->
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                        </div>
                                        <div class="discount" v-if="product.discount!=0">
                                            <span>{{ product.discount }}%</span>
                                        </div>

                                    </div>
                                    <a v-if=" product.qty !== 0" class="product-thumb" target="_blank"
                                       :href="url + 'product/'+ product.sku+'/'+product.slug">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>
                                    <a v-else class="product-thumb">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>

                                    <div class="product-card-body mt-3">
                                        <h5 style="height: 30px">
                                            <a class="product-meta" v-if=" product.qty !== 0" target="_blank"
                                               :href="url + 'product/'+ product.sku+'/'+product.slug">{{
                                                    product.title
                                                }}</a>
                                            <a class="product-meta" v-else>{{ product.title }}</a>
                                        </h5>
                                        <span class="product-price red"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                    <del>   {{
                                                            new Intl.NumberFormat().format(product.price)
                                                        }}    تومان</del>
                                                        </span>
                                        <span class="product-price green"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                            {{
                                                new Intl.NumberFormat().format(Math.abs(product.price - (product.price * product.discount) / 100))
                                            }} تومان
                                                        </span>

                                        <span class="product-price red"
                                              v-if="product.discount==0 && product.qty !== 0">
                                                       {{ new Intl.NumberFormat().format(product.price) }}    تومان
                                                        </span>
                                        <span class="product-price red" style="visibility: hidden"
                                              v-if="product.discount==0 && product.qty !== 0">بدون تخفیف</span>

                                    </div>
                                    <div v-if="product.qty === 0">
                                        <h5 class="text-center">ناموجود</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination :size="'small'" :align="'center'" :data="laravelData"
                                    @pagination-change-page="getResults">
                            <span slot="prev-nav"> قبلی </span>
                            <span slot="next-nav"> بعدی </span>
                        </pagination>
                    </div>
                    <div class="ah-tab-content dt-sl">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0"
                                 v-for="product in products.data">
                                <div class="product-card mb-2 mx-res-0">
                                    <!--                                <div class="promotion-badge">-->
                                    <!--                                    فروش ویژه-->
                                    <!--                                </div>-->
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                        </div>
                                        <div class="discount" v-if="product.discount!=0">
                                            <span>{{ product.discount }}%</span>
                                        </div>

                                    </div>
                                    <a v-if=" product.qty !== 0" class="product-thumb" target="_blank"
                                       :href="url + 'product/'+ product.sku+'/'+product.slug">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>
                                    <a v-else class="product-thumb">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>

                                    <div class="product-card-body mt-3">
                                        <h5 style="height: 30px">
                                            <a class="product-meta" v-if=" product.qty !== 0" target="_blank"
                                               :href="url + 'product/'+ product.sku+'/'+product.slug">{{
                                                    product.title
                                                }}</a>
                                            <a class="product-meta" v-else>{{ product.title }}</a>
                                        </h5>
                                        <span class="product-price red"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                    <del>   {{
                                                            new Intl.NumberFormat().format(product.price)
                                                        }}    تومان</del>
                                                        </span>
                                        <span class="product-price green"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                            {{
                                                new Intl.NumberFormat().format(Math.abs(product.price - (product.price * product.discount) / 100))
                                            }} تومان
                                                        </span>

                                        <span class="product-price red"
                                              v-if="product.discount==0 && product.qty !== 0">
                                                       {{ new Intl.NumberFormat().format(product.price) }}    تومان
                                                        </span>
                                        <span class="product-price red" style="visibility: hidden"
                                              v-if="product.discount==0 && product.qty !== 0">بدون تخفیف</span>

                                    </div>
                                    <div v-if="product.qty === 0">
                                        <h5 class="text-center">ناموجود</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination :size="'small'" :align="'center'" :data="laravelData"
                                    @pagination-change-page="getResults">
                            <span slot="prev-nav"> قبلی </span>
                            <span slot="next-nav"> بعدی </span>
                        </pagination>
                    </div>
                    <div class="ah-tab-content dt-sl">
                        <div class="row mb-3 mx-0 px-res-0">
                            <div class="col-lg-3 col-md-4 col-sm-6 col-12 px-10 mb-1 px-res-0"
                                 v-for="product in products.data">
                                <div class="product-card mb-2 mx-res-0">
                                    <!--                                <div class="promotion-badge">-->
                                    <!--                                    فروش ویژه-->
                                    <!--                                </div>-->
                                    <div class="product-head">
                                        <div class="rating-stars">
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                            <!--                                        <i class="mdi mdi-star active"></i>-->
                                        </div>
                                        <div class="discount" v-if="product.discount!=0">
                                            <span>{{ product.discount }}%</span>
                                        </div>

                                    </div>
                                    <a v-if=" product.qty !== 0" class="product-thumb" target="_blank"
                                       :href="url + 'product/'+ product.sku+'/'+product.slug">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>
                                    <a v-else class="product-thumb">
                                        <img width="120" height="120"
                                             :src="url + 'storage/'+product.path"
                                             alt="Product Thumbnail">
                                    </a>

                                    <div class="product-card-body mt-3">
                                        <h5 style="height: 30px">
                                            <a class="product-meta" v-if=" product.qty !== 0" target="_blank"
                                               :href="url + 'product/'+ product.sku+'/'+product.slug">{{
                                                    product.title
                                                }}</a>
                                            <a class="product-meta" v-else>{{ product.title }}</a>
                                        </h5>
                                        <span class="product-price red"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                    <del>   {{
                                                            new Intl.NumberFormat().format(product.price)
                                                        }}    تومان</del>
                                                        </span>
                                        <span class="product-price green"
                                              v-if="product.discount!=0 && product.qty !== 0">
                                                            {{
                                                new Intl.NumberFormat().format(Math.abs(product.price - (product.price * product.discount) / 100))
                                            }} تومان
                                                        </span>

                                        <span class="product-price red"
                                              v-if="product.discount==0 && product.qty !== 0">
                                                       {{ new Intl.NumberFormat().format(product.price) }}    تومان
                                                        </span>
                                        <span class="product-price red" style="visibility: hidden"
                                              v-if="product.discount==0 && product.qty !== 0">بدون تخفیف</span>

                                    </div>
                                    <div v-if="product.qty === 0">
                                        <h5 class="text-center">ناموجود</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <pagination :size="'small'" :align="'center'" :data="laravelData"
                                    @pagination-change-page="getResults">
                            <span slot="prev-nav"> قبلی </span>
                            <span slot="next-nav"> بعدی </span>
                        </pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

export default {
    data() {
        return {
            url:'https://mobayadak.com/',
            // url:url + '',
            products: [],
            length:0,
            laravelData: {},
            sort: '',
            page: 1,
            categories: [],
            available: false,
            loading:false,
            shadow:1

        }
    },
    props: ['data', 'category'],

    mounted() {

        if (this.sort !== 'ASC' || this.sort !== 'DESC') {
            this.sort = 'all';
            this.getResults(this.page, this.sort, this.available)
        }
    },
    methods: {
        getResults(page, sort) {

            if (sort)
                this.sort = sort;
            this.products = [];
            if (this.sort === 'ASC') {
                this.getAscResults(page, this.sort, this.available)
            } else if (this.sort === 'DESC') {
                this.getDescResults(page, this.sort, this.available)
            } else if (this.sort === 'visit') {
                this.getVisitedResults(page, this.sort, this.available)
            } else if (this.sort === 'new') {
                this.getNewResults(page, this.sort, this.available)
            } else if (this.sort === 'sell') {
                this.getSellResults(page, this.sort, this.available)
            } else {
                this.getAll(page, this.sort, this.available)
            }

        },
        async getAll(page, sort, not) {

          //  this.shadow=0.5
            this.loading = true;

            await this.activate();
            this.sort = sort;
            await axios.get('/api/search-all/' + this.data + '/' + not + '?page=' + page).then(res => {

                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length

            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
           // this.shadow=1

        },
        async getAscResults(page, sort, not) {
            this.loading = true;
               await this.activate();
            this.products = [];
            this.sort = sort;
            await axios.get('/api/search-price-asc/' + this.data + '/' + not + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length

            }).catch(err => {
                console.log(err);
            });
            this.loading = false;

        },
        async getDescResults(page, sort, not) {
            this.loading = true;
           // this.shadow=0.5

            await this.activate();
            this.products = [];
            this.sort = sort;
            await axios.get('/api/search-price-desc/' + this.data + '/' + not + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length

            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
           // this.shadow=1


        },
        async getVisitedResults(page, sort, not) {
            this.loading = true;
           // this.shadow=0.5

            await this.activate();
            this.products = [];
            this.sort = sort;
            await axios.get('/api/search-visit/' + this.data + '/' + not + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length

            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
            //this.shadow=1


        },
        async getNewResults(page, sort, not) {
            this.loading = true;
           // this.shadow=0.5
            await this.activate();
            this.products = [];
            this.sort = sort;
            await axios.get('/api/sort-new-products/' + this.data + '/' + not + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length
            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
           // this.shadow=1


        },
        async getSellResults(page, sort, not) {
            this.loading = true;
            //this.shadow=0.5
            await this.activate();
            this.sort = sort;
            await axios.get('/api/search-sells/' + this.data + '/' + not + '?page=' + page).then(res => {
                this.products = res.data.products;
                this.laravelData = res.data.products;
                this.length = this.laravelData.data.length
            }).catch(err => {
                console.log(err);
            });
            this.loading = false;
           // this.shadow=1


        },
        onchange(value) {
            this.available = !value;

            if (this.sort === 'all') {
                this.getAll(this.page, this.sort, this.available)
            }
            if (this.sort === 'visit') {
                this.getVisitedResults(this.page, this.sort, this.available)
            }
            if (this.sort === 'sell') {
                this.getSellResults(this.page, this.sort, this.available)
            }
            if (this.sort === 'ASC') {
                this.getAscResults(this.page, this.sort, this.available)
            }
            if (this.sort === 'DESC') {
                this.getDescResults(this.page, this.sort, this.available)
            }

        },
        activate() {
            return new Promise((resolve) => {
                setTimeout(resolve, 500);
            });
        }


    }
}
</script>
