<template>
    <li class="nav-item dropdown">
        <a class="nav-link" data-toggle="dropdown" href="#">
            <i class="fa fa-bell-o"></i>
            <span v-if="unreadNotifications.length !==0" class="badge badge-danger navbar-badge">{{unreadNotifications.length}}</span>
            <span v-if="unreadNotifications.length ===0" class="badge badge-danger navbar-badge"></span>

        </a>
        <div class="dropdown-menu dropdown-menu-lg dropdown-menu-left">

            <!-- Message Start -->
            <div class="media" v-for="unreadNotification in unreadNotifications">
                <div class="media-body">
                 <!--  :href="'/admin/orders/' + unreadNotification.data.order.id+'/edit'"-->
                    <a  @click="handleClick(unreadNotification)" class="dropdown-item">
                        <p class="text-sm">  شماره فاکتور :{{unreadNotification.data.order.id}} </p>
                        <p class="text-sm"> شماره موبایل :{{unreadNotification.data.user.mobile}} </p>
                    </a>

                </div>
            </div>
            <!-- Message End -->

            <div class="dropdown-divider"></div>

            <a v-if="unreadNotifications.length !==0" href="#" class="dropdown-item dropdown-footer">مشاهده همه پیام‌ها</a>
            <a v-if="unreadNotifications.length ===0" href="#" class="dropdown-item dropdown-footer">اعلانی وجود ندارد</a>
        </div>
    </li>
</template>

<script>
    $('meta[name="csrf-token"]').attr('content')

    export default {
        props: ['unreads', 'userid'],
        data() {
            return {
                unreadNotifications: this.unreads
            }
        },
        mounted() {
            Echo.private('App.User.' + this.userid)
                .notification((notification) => {
                    let newUnreadNotification = {data: {order: notification.order, user: notification.user}};
                    this.unreadNotifications.push(newUnreadNotification);
                });
        },
        methods: {
            handleClick(unreadNotification) {
                axios.post('orders/markAsRead', {id: unreadNotification['id']})
                    .then(response => {
                        window.location.href="orders/"+unreadNotification.data.order.id+"/edit ";
                    });
            }
        }
    }
</script>
