<template>
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">داشبورد</h1>
                        </div><!-- /.col -->
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-left">
                                <li class="breadcrumb-item"><i class="blue">محصول</i></li>
                                <li class="breadcrumb-item active">داشبورد</li>
                            </ol>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <section class="content">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title pull-right">جدول محصول ها</h3>
                        <div class="text-left">
                            <a :href="'/admin/products/create'" class="btn btn-app" >
                                <i class="fa fa-plus green"></i> جدید
                            </a>
                            <a :href="'/admin/discounts'" class="btn btn-app" >
                                <i class="fa fa-plus redd"></i> تخفیف گروهی
                            </a>
                        </div>
                    </div>
                    <the-loader v-if="loading ===true"></the-loader>
                    <div class="row mt-2 mb-2">
                        <div class="col-lg-4 col-lg-offset-4">
                            <div class="input-group text-center">
                                <input type="text" class="form-control" @input="search" v-model="searchValue" placeholder="نام محصول و یا قیمت را وارد کنید...">
                            </div>
                        </div>
                    </div>

                    <!-- /.card-header -->
                    <div class="card-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover ">

                            <thead>
                            <tr >
                                <th >شناسه</th>
                                <th >تصاویر</th>
                                <th >عنوان</th>
                                <th >تعداد</th>
                                <th >قیمت</th>
                                <th >تخفیف</th>
                                <th >تاریخ</th>
                                <th >وضعیت</th>
                                <th >عملیات</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  class="" v-for="product in products">
                                <td>{{product.sku}}</td>
                                <td class="text-center">
                                    <img v-for="photo in product.photos" width="50" height="50" :src="url+photo.path " class="img-fluid rounded">
                                </td>
                                <td>{{product.title}}</td>
                                <td>{{ product.qty }}</td>
                                <td>{{ product.price }}</td>
                                <td>{{ product.discount }}</td>
                                <td>{{ product.created_at }}</td>
                                <td>
                                    <span v-if="product.status == 1" class="float badge bg-success">منتشر شده</span>
                                    <span v-else class="float badge bg-danger">منتشر نشده</span>
                                </td>
                                <td>
                                    <div class="row">
                                        <a :href="`/admin/products/`+ product.sku +'/edit'" class="btn-delete blue mt-auto ml-1 mr-1">
                                            <i class="fa fa-edit blue" data-toggle="tooltip" title="ویرایش"></i>
                                        </a>
                                        |
                                        <button  class="btn-delete" @click="deleteRecord(product.slug)">
                                            <i class="fa fa-trash red" data-toggle="tooltip" title="حذف"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                  <div v-if="search_product == false">
                      <pagination :size="'small'"  :align="'center'" :data="laravelData"
                                  @pagination-change-page="allProducts" :limit="5">
                          <span slot="prev-nav"> قبلی </span>
                          <span slot="next-nav"> بعدی </span>
                      </pagination>
                  </div>
                   <div v-if="search_product">
                       <pagination :size="'small'"  :align="'center'" :data="laravelData"
                                   @pagination-change-page="search" :limit="5">
                           <span slot="prev-nav"> قبلی </span>
                           <span slot="next-nav"> بعدی </span>
                       </pagination>
                   </div>
                </div>
                <!-- /.card-body -->
            </section>
            <!-- /.content -->
        </div>

</template>

<script>
    export default {
        data(){
            return{
                url:'https://mobayadak.com/',
                // url:'http://kharidchi.test',
                products:[],
                laravelData: {},
                page: 1,
                loading:false,
                shadow:1,
                searchValue:'',
                search_product:false
            }
        },
        mounted() {
           this.allProducts(this.page);
        },
        methods :{
            async allProducts(page){
                this.search_product = false
                this.loading = true;
                await this.activate();
                await axios.get('/admin/all-products' + '?page=' + page).then(res => {
                    this.products = res.data.products.data;
                    this.laravelData = res.data.products;
                }).catch(err => {
                    console.log(err);
                });
                this.loading = false;
            },
            searchProduct(){

            },
            activate() {
                return new Promise((resolve) => {
                    setTimeout(resolve, 500);
                });
            },
            deleteRecord(id){
                Swal.fire({
                    title: 'هشدار!',
                    text: "آیا از حذف سطر جاری مطمئن هستید؟",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'بله, حذف کن!',
                    cancelButtonText: 'خیر'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/admin/products/'+id).then(res=>{
                            Swal.fire(
                                'حذف!',
                                'محصول با موفقیت حذف شد.',
                                'success'
                            )
                            window.location.replace('/admin/products/');
                        })

                    }
                    else{
                        Swal.fire(
                            'حذف!',
                            'حذف محصول لغو شد.',
                            'error'
                        )
                    }
                });
            },
            search(page = 1){

                if (this.searchValue){
                    this.search_product = true
                    axios.post(' /admin/search/products/'+ this.searchValue + '?page=' + page).then(res=>{
                        this.products = res.data.products.data;
                        this.laravelData = res.data.products;
                        if (this.searchValue == null){
                            this.search_product = false
                            this.allProducts(this.page)

                        }
                    });
                }
                else
                {
                    this.allProducts(this.page =1);
                }


            }
        }

    }
</script>
