<template>
<transition name="modal">
<div class="container ">
    <div class="row">
        <div class="col-md-6  mb-2 ">
            <div class="form-row-title">
                <h4>
                    استان
                </h4>
            </div>
            <div class="form-row">
                    <select class="form-control"  name="province_id" id="province_id"  @change="onChange()" v-model="provinceId" required
                            oninvalid="this.setCustomValidity('لطفا استان را انتخاب کنید')"
                            oninput="this.setCustomValidity('')">
                        <option value=""  >انتخاب کنید</option>
                        <option  v-for="province in provinces" :value="province.id">{{province.name}}</option>
                    </select>
            </div>
        </div>
        <div class="col-md-6  mb-2 " v-if="cities.length!==0">
            <div class="form-row-title">
                <h4>
                    شهر
                </h4>
            </div>
            <div class="form-row" >
                <div class="custom-select-ui">
                    <select name="city_id" class=" form-control " required>
                        <option  v-for="city in cities" :value="city.id" >{{city.name}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>
</transition>
</template>

<script>
    export default {
        props: ['provinces'],
        data() {
            return {
                address: [],
                provinceId: '',
                cities: [],
            }
        },
        methods: {
            onChange() {
                let index = '';
                for (let i = 0; i < this.provinces.length; i++) {
                    if (this.provinces[i].id === this.provinceId) {
                        index = i;
                        this.province_id = this.provinces[i].id;
                    }
                }
                this.cities = (this.provinces[index].cities)
            }
        }
    }
</script>
