<template>
    <div class="loading_box">
     <div class="lds-ring">
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
         <div class=""></div>
     </div>
    </div>
</template>

<script>
export default {

}
</script>

<style scoped>
.loading_box{
    position: fixed;
    top: 40%;
    width: 15%;
    margin: auto;
    background: #ffffff;
    box-shadow: 0 0 1px #000;
    z-index: 999;
    left: 0;
    right: 0;
    text-align: center;
    padding: 40px;
}
.lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #000;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #ee1f1f transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

</style>

